
body
{
    padding: 0;
    margin: 0;
    font-family: 'Courgette', cursive;
    background: gray;
}

header
{
    padding: 10px 0;
    background: black;  
}
.container i{
    display: none;
}
.list-menu
{
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
   
}

.list-menu li
{
    display: inline-block;
   
}
.list-menu li a
{
    display: block;
    padding: 15px 10px;
    color: white;
    text-decoration:none;
}

.lista-menu li 
{
    color: white;
    text-decoration: none;
    list-style: none;
    text-align: center;
    display: inline;
}

.hero .list-menu
{
   text-align: center;
   
}
.fondoflor
{
    background: url(../image/header-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: auto;
    
}

.letras h1
{
    font-size: 50px;
    
}

.letras
{
    width:500px;
    height: 180px;
    background: black;
    text-align: center;
    position: relative;
    top: 150px;
    left: 170px;
     
}
 .fila
 {
    float: left;
    background: black;
    margin:20px 10px; 
    
}
.imagenes-fila img{
   height: 200px;
    width: 280px;
     
}
h1,h3
{
    text-align: center;
    
    color: darkorange;
}
p,h4
{
    color: white;
    text-align: center;
    
}

.container
{
    width: 900px;
    margin: 0 auto;
}

.clearfix
{
    display: table;
    
}
.clearfix:after
{
    content:" ";
    clear:both;
}





.izquierda , .derecha 
{
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

.izquierda
{
    width: 60%; 
    background:#211F33; 
}

.derecha
{
    width: 40%;
}
.block-form .about
{
    margin: 10px;
    background: #211F33;
    padding: 15px;
    text-align: center;
}

.block-form .search
{
    margin:0 20px 0px 20px;
    background: #211F33;
    padding: 5px 10px 5px  10px;
    text-align: center;
}
.block-form input, .block-form button
{
    width: 100%;
    box-sizing: border-box;
}

.iconos i
{
    background: white;
    padding: 5px;
    border-radius: 100%;
    position: relative;
    right: 100px;
}

footer
{
    color: white;
    background: black;
    padding: 20px;
    text-align: center    
}

footer span
{
    color:grey;
}

@media (max-width: 900px)
{
    .container
    {
        width: 700px;
    }
}


@media (max-width: 600px)
{
    .container
    {
        width: 80%;
    } 
    .letras
    {
        width: 50%;
        position: relative;
        left: 25%;
        padding-bottom: 50px;
        
        
    }
    .fondoflor
    {
        width: 100%;    
    }
    .izquierda
    {
        width: 100%;    
    }
    .derecha{
        visibility: hidden;
        display: none;
    }
    .container i
    {
        display: inline-block;
        float: right;
        color: white;
        font-size: 50px;
        
    }
    .container .list-menu
    {
        display: none;
    }




